{% extends "model-page.html" %}

{% block content %}
<h2>Agendamentos</h2>
<a href="evento/">
    <button type="button">Novo Evento</button>
</a>
<ul style="font-size: 18px;">
    {% for event in events %}
    <li>
    <div style={% if event.get_date_event_late %} "color: red;" {% endif %}>
            {{ event.title }} - {{ event.get_date_event }}
            (<a href="evento/?id={{ event.id }}">Editar</a>
            / <a href="evento/delete/{{ event.id }}">Excluir</a>)
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}